.container {
    flex-direction: row;
    display: flex;
    width: 100vw;
    height: calc(100vh - 10vh);
}

/* Right Container */

.right {
    flex: 1;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
}

.right-img {
    max-width: 639px;
}

/* Left Container */

.left {
    flex: 1;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
}

.social-media {
    margin-left: 10vw;
    flex-direction: column;
  
}

.social-media img {
    padding: 1.75rem 0 0 0;
    max-width: 35px;
}

/* Mid Container */

.mid {
    flex: 1;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.mid-items {
    margin-left: 7.5vh;
}

.mid-items > h1 {
    font-size: 3rem;
    color: var(--white);
}

.mid-items > h3 {
    margin-top: 2.5vh;
    font-weight: 600;
    font-size: 1.625rem;
    color: var(--gray);
}

.mid-items > p {
    margin-top: 2.5vh;
    margin-right: 20vh;
    line-height: 1.25;
    font-size: 1.625rem;
    font-weight: 400;
    color: var(--light-gray);
}

/* Buttons */

.button-contact {
    background: var(--light-red); 
    color: var(--white);
    margin-top: 4vh; 
    font-weight: 600;
    font-size:  1.3rem;
}

@media screen and (max-width: 1366px), (max-height: 768px) {

    .right {
        justify-content: flex-start;
    }
    .right-img {
        max-width: 500px;
    }

    .mid-items {
        margin-left: 7.5vh;
    }

    .social-media {
        margin-left: 5vw;
        flex-direction: column;
      
    }

    .mid-items > h1 {
        font-size: 2rem;
    }

    .mid-items > h3 {
        font-size: 1.125rem;
    }

    .mid-items > p {
        font-size: 1.125rem;
    }

    .button-contact {
        font-size: 1.125rem;
    }
}

@media screen and (max-width: 880px) and (max-height: 1024px) {
    .container {
        flex-flow: row wrap;
    }

    .right {
        order: 1;
        justify-content: center;

    }

    .right-img {
        max-width: 500px;
    }

    .mid {
        order: 2;
        align-items: flex-start;
    }


    .left {
        order: 1;
        
    }

    .social-media {

        margin-left: 5vw;
    }
}

@media screen and (max-width: 550px) {
    .right-img {
        max-width: 300px;
    }


    .social-media {
        margin-left: 5vw;
    }
}