@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --bg: #121212;
    --light-red: #FF6264;
    --text: #F5F5F5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

body {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    background: var(--bg);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 200px;
    border-radius: 50%;
    margin: 2rem 0;
}

.title {
    color: var(--text);
    font-size: 3rem;
}

.sub-title {
    margin: 1.25rem 0;
    font-size: 1.25rem;
    color: var(--text);
}

.content {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr)); 
    justify-content: center;
    gap: 20px;
    max-width: 800px;
    margin: 2rem;

}

.box {
    border-radius: 10px;
    border: 1px solid rgb(234, 234, 234);
    padding: 24px;

    color: var(--text);
    text-decoration: none;
    transition: 0.2s;
}

.box:hover  {
    border: 1px solid;
    color: var(--light-red);
}

h3 {
    font-size: 1.5rem;
    margin: 0 0 16px;
}

.box > p {
    font-size: 1.25rem;
}

@media screen and (max-width: 600px) {
    .content {
        grid-template-columns: minmax(200px, 1fr); 
    }

    
    .title {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    .sub-title {
        font-size: 1rem;
    }

    .box > p {
        font-size: 1rem;
    }
}
