@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
}

/* Navigation Bar */
.navigation-bar {
    width: 100%;
    top: 0;
}

.navigation-bar ul {
    list-style-type: none;
    overflow: hidden; 
    margin-right: 25%;
    margin-left: 25%;
}

.navigation-bar li {
    float: right;
   
}

.navigation-bar a {
    display: inline-flex;
    padding: 16px 14px;
    font-weight: 800;
    color: rgb(59, 50, 254);
    text-decoration: none;
}

.navigation-bar img {
    margin-top: -10px;
    width: 48px;
    height: 48px;
}