@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Navigation Bar */
.c-header {
    width: 100%; 
    max-width: 980px; 
    margin: 0 auto;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    height: 70px;
    margin-top: 10px;
}

.menu {
    list-style-type: none;
    overflow: hidden;   
    display: flex;
}

.menu-item {
   
}

.menu-item .menu-link:hover {
    color: rgb(206, 22, 63);
}

.menu-link {
    padding: 16px 14px;
    font-weight: 500;
    font-size: 18px;
    color: rgb(59, 50, 254);
    text-decoration: none;
}

.logo {
    width: 64px;
    height: 64px;
}

.icon {
    display: none;
}

/* Main*/

.container {
    display: flex;
    align-items: stretch;
    width: 100%;
    flex-wrap: wrap;
}

.container.left {
    flex: 1;
}

.container.left p {
    color: rgb(71,71,71);
    margin-left: 15%;
    margin-top: 30%;
    font-weight: 600;
    font-size: 24px;
}

.container.right {
    flex: 1;
}

.container.right img {
    margin-top: 10%;
    max-width: 100%;
    min-width: 50%;
}

@media only screen and (max-width: 800px){
    .container {
        flex-direction: column;
    }
    .container.left p {
        margin-left: 5%;
        margin-right: 5%;
        text-align: justify;
    }

    .c-header {
        max-width: 350px;
        justify-content: space-between;
        
    }

    .nav {
        display: block;
        width: 100%;
        right: 0;
        position: absolute;
        top: 75px;
        height: 0px;
        background: rgb(206, 22, 63);
        z-index: 1000;
    }


    .logo {
        width: 64px;
        height: 64px;
    }

    .icon {
        display: block;
        font-size: 32px;
    }

    .icon:hover {
        color: rgb(206, 22, 63);
    }
}