@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Navigation Bar */
.navigation-bar {
    width: 100%;
    top: 0;
}



.navigation-bar ul {
    list-style-type: none;
    overflow: hidden; 
    margin-right: 15%;
    margin-left: 15%;
   
}

.navigation-bar li {
    float: right;
   
}

.navigation-bar .icon {
    display: none;
}

.navigation-bar a {
    display: inline-flex;
    padding: 16px 14px;
    font-weight: 500;
    font-size: 18px;
    color: rgb(59, 50, 254);
    text-decoration: none;
}

.navigation-bar a:hover {
    color: rgb(206, 22, 63);

}

.navigation-bar .logo {
    margin-top: -10px;
    width: 48px;
    height: 48px;
}

/* Main*/

.container {
    display: flex;
    align-items: stretch;
    width: 100%;
    flex-wrap: wrap;
}

.container.left {
    flex: 1;
}

.container.left p {
    color: rgb(71,71,71);
    margin-left: 15%;
    margin-top: 30%;
    font-weight: 600;
    font-size: 24px;
}

.container.right {
    flex: 1;
}

.container.right img {
    margin-top: 10%;
    max-width: 100%;
    min-width: 50%;
}

@media only screen and (max-width: 800px){
    .container {
        flex-direction: column;
    }
    .container.left p {
        margin-left: 5%;
        margin-right: 5%;
        text-align: justify;
    }
    .navigation-bar li a:not(.logo){
        display: none;
    }
    .navigation-bar .icon {
        display: initial;
       float: right;
        
    }
   
}